
@{
    ViewBag.Title = "WithFormCollection";
}

<h2>WithFormCollection</h2>

<form action="/Main/WithFormCollection" method="post">

    <div>
        <label>Name:</label>
        <input type="text" name="Name" value="" />
        <label>Last Name:</label>
        <input type="text" name="Name" value="" />
        <button type="submit">Save </button>
    </div>
</form>